.filter-area {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
}

.filter-header > button {
  border-radius: 4px;
  padding: 2px;
  border: none;
  background: none;
  color: rgb(201, 182, 12);
}

.filter-category {
  width: 120px;
}

.filter-component {
  display: flex;
  /* margin-right: 50px; */
  align-items: center;
  justify-content: center;
  height: auto;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-size: 0.875rem; 
  color: #333; 
  cursor: pointer;
  padding: 4px 8px; 
  border-radius: 4px; 
  transition: background-color 0.2s ease, color 0.2s ease; 
  padding: 6px;
}

.filter-category-label {
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
  gap: 6px;
}

.showing {
  visibility: visible;
}

/* @media (max-width: 1168px) {
  .filter-container {
    flex-direction: row;
    width: auto;
  }

  .filter-area {
    left: 0;
    right: 0; 
    flex-direction: column;
  }

  .filter-component {
    width: 100%;
    flex: none;
  }
} */