.notification-icon {
  color: rgb(201, 182, 12);
  font-size: 30px;
}

.notification-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-notification-icon {
  font-size: 20px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}