.upcomming-events-area {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 4px;
}

.events-header {
  margin-bottom: 10px;
  color: rgb(201, 182, 12);
}

.events-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  box-shadow: 0px 0px 4px 2px rgba(115, 115, 115, 0.5);
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
}

.events-section:hover {
  box-shadow: 0px 0px 4px 2px rgb(226, 205, 18);
  border-radius: 8px;
  cursor: pointer;
}
