.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}

.userProfileInfo {
    margin-bottom: 20px; 
    width: 100%; 
    max-width: 600px; 
}

.eventsList {
    width: 100%; 
    max-width: 600px; 
}

.skeleton {
    height: 400px;
}